<aside>
	<ul class='row'>
		<li class='col-sm-offset-3 col-sm-3'><%= link_to 'Mensagem Recebida', '/msn_user', remote: true, class: 'btn btn-primary btn-block'%></li>
		<li class='col-sm-3'><%= link_to 'Mensagem do Sistema', '/msn_sistema/sistema', remote: true, class: 'btn btn-primary btn-block'%></li>
	</ul>
</aside>