<div class="row">	
	<section class="adm-btn-index col-md-4">
		<%= link_to 'Gerenciar Cliente', '/admin/clientes', remote: true, class: 'btn btn-default btn-lg btn-block' %>			
	</section>
	<section class="adm-btn-index col-md-4">
		<%= link_to 'Gerenciar Usuários', '/admin/usuarios', remote: true, class: 'btn btn-default btn-lg btn-block' %>			
	</section>
	<section class="adm-btn-index col-md-4">
		<%= link_to 'Mensagens do Sistema', '/admin/mensagens', remote: true, class: 'btn btn-default btn-lg btn-block' %>			
	</section>
</div>