<%= simple_form_for('new_password', url: '/gerar_senha', html: {remote: true}) do |f| %>
	<%= f.submit "Gerar Senha" %>
<% end %>
<div id="new-password">
	<%= render 'clients/password' %>
</div>

<%= link_to 'Logout', clients_session_path(session[:client_id]), method: :delete %>