<div id="menu-comercio">
	<div class="row">
		<p class='col-sm-12 text-center'>
			<%= link_to 'Primeira vez por aqui',new_user_perfil_path, class: 'btn btn-warning btn-lg' %>	
		</p>
		<p class='col-sm-12 text-center'>	
			<%= link_to 'Já utilizou o chatpoint', new_session_path, class: 'btn btn-success btn-lg' %>
		</p>	
	</div>	
</div>

