<div class="row">
	<section class="col-sm-12">
		<ul class='list-group users-index'>
			<% if @existing_chats_users %>
			  <% @existing_chats_users.each do |other_user| %>
			  	<% if other_user.user.id != current_user.id %>
				    <li class='list-group-item'>
				      <%= get_avatar(other_user,'chat')%>				    	
				      <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
				      <%= other_user.username %>
				      <% end %>
				    </li>
			    <% end %>
			  <% end %>
		  <% end %>
		</ul>
	</section>
</div>