
<div class="modal-dialog">
  <div class="modal-content">
    
  	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Politica de uso</h4>
    </div>

    <div class="modal-body">	
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, ex modi maxime? Aliquid magnam sequi accusamus ullam quos labore voluptas enim, eum ea necessitatibus dolor quidem repudiandae, excepturi blanditiis at.
    </div>
    <div class="modal-footer">
              
    </div>
  </div>
</div>
