// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat-body {
  margin-bottom: 100px;
}
.body {
 	 position: relative;
 	 top: 60px; 	
 	 margin-bottom: 70px; 	 

}

a {
  text-decoration: none !important;
} 


.chat-cabecalho-form {
  width: 85vw;
  float: left;
}
.chat-cabecalho-menu {
  width: 5vw;
  float: left;
  margin-bottom: 20px;

}



#chat-menu {
  clear: both;
 	margin: 10px 0;
 	
  	select {
   		position: relative;
   		left: -10px;
      width: 86vw;
     
  	}
    
    &>section {
      float: left;
    }

  	a {
  		position: relative;  		
  		top: -2px;
      
  	}

 	  i {
  		font-size: 2rem;
      position: relative;
      right: 10px;
  	}
    
    
 }
  
  .menu-dropdown {
      position: relative;
      left: 50px;
      top: -45px;
      size: 2rem;
    }
  @media (max-width: 350px){
    .menu-dropdown {
      position: relative;
      left: -20px;
      top: -45px;
    }
  }  

  @media (max-width: 508px){
    .menu-dropdown {
      position: relative;
      left: -10px;
      top: -45px;
    }
    .system-notice {   
      div:first-child {
        left: 5vw !important;
      }
    }  
  } 
  @media (max-width: 588px){
    .menu-dropdown {
      position: relative;
      left: -10px;
      top: -45px;
    }
    #chat-menu {  
      select {
        position: relative;
        left: -10px;
        width: 71vw !important;       
      }
    } 
  } 

  @media (min-width: 589px) and (max-width: 768px){
    .menu-dropdown {
      position: relative;
      left: 0px;
      top: -45px;
    }
    #chat-menu {
  
      select {
        position: relative;
        left: -10px;
        width: 71vw;
       
      }
    
    }  
  }
  @media (min-width: 1200px){
    .menu-dropdown {
      position: relative;
      left: 100px;
      top: -45px;
    }
  }  
 
 .container-user-chat {
 	  width: 100%;
    
    padding: 10px 0;
    border-bottom: 1px solid #eee;  
    position: relative;
    top: 5px;
    &:hover {
      background-color: rgba(238,238,238,0.3);
    }
    
 }

.system-notice {
  position: fixed;
  bottom: 0 !important;
  background-color: rgb(238,238,238);
  width: 100vw;  
  height: 90px;
  div:first-child {
    border-radius: 100%;
    width: 65px;
    height: 65px;    
    position: relative;
    top:15px;   
    left: 7vw;
    text-align: center;
    line-height: .9;
    z-index: 2;
    a {
      position: relative;
      top: 15px;
      &:active, &:hover, &:link, &:visited {
        color: rgba(0,0,0,0.6);
      }
    }    
  }
  div:last-child {
    position: relative;
    width: 80vw;    
    top: -37px;
    height: 50px;
    background-color: rgba(238,238,238,0.3);
    left: 14vw;
    word-wrap: break-word;
    span {
      position: relative;      
      left: 43px;      
    }
  }
}



 #message_content {
 	resize: none;
 	position: fixed;
 	bottom: 3px !important;
 	height: 40px;
 	border: none;

 }



 .content_ballon {
    display:inline-block; /* ou float:left, vai do seu uso */
     color:#fff;
     background-color:#37688D;
     border-top:10px solid #37688D;
     border-left:10px solid transparent;
     background-clip: padding-box;
     padding: 0 10px 5px;
     clear: both;
     font-size: 1.4rem;
     border-radius: 5px;
     border-radius-left: 5px;
     max-width: 80%;
     word-wrap: break-word;
     -moz-margin-bottom: 80px;
 }


 .content_ballon_user_current {
 	   float: right;
   	 display:inline-block; /* ou float:left, vai do seu uso */
     color:#fff;
     background-color:#DCF8C6;
     border-top:10px solid #DCF8C6;
     border-right:10px solid transparent;
     background-clip: padding-box;
     padding: 0 10px 10px 10px;
     color: #4b4b4b;  
     clear: both;      
     font-size: 1.4rem; 
     border-radius-left: 5px;
 	   border-radius: 5px;
 	   max-width: 80%;	
 	   height: auto;
	   position: relative;
 	   word-wrap: break-word;	
     -moz-margin-bottom: 80px;
 }

 .scroll {
 	.header {
 		position: fixed;
 		top: 0 !important;
 		background: #29706C;
 		width: 100%;
 		height: 60px;
 		z-index: 100;
 		& a, & span {
 			padding: 0 10px; 
 			position: relative;
 			top: 5px;		
 			color: #fff;
 		}

 	}
 	img {
 		border-radius: 100%;
 		position: relative;
 		top: 5px;
 	}
	
 }

 .container-form-message {
 	 height: 80px;
 	 background-color: #F5F1EE;
	 
 	 z-index: 99;
 	 position: fixed;
 	 width: 100%;
	 bottom: 0;
 	 padding-left: 30px; 
 	 margin: 0;
   
   textarea {    
    width: 92vw;
    padding: 10px 30px 0;
    color: rgba(0,0,0,.8);
    
   }
 }

 .btnEnviarMensagem {
   	border-radius: 100%;
   	position: relative;
   	height: 40px;
   	width: 40px;
   	top: 22px;
   	left: -9px;
   	background-color: #286090;
   	color: #fff;
   	font-size: .9rem;	
   	border: none;
   	overflow-y:hidden ;
    margin-right: 2vw;
    float: right;
 }

 @media (max-width: 363px) {
    .container-form-message {
      textarea {
        width: 86vw;
      }
    }

    
 }
 @media (min-width: 364px) {
    .container-form-message {
      textarea {
        width: 90vw;
      }
    }
    
    
 }


 @media (min-width: 571px) {
    .container-form-message {
      textarea {
        width: 94vw;
      }
    }

    
 }

  @media (min-width: 738px) {
    .container-form-message {
      textarea {
        width: 92vw;
      }
    }
    
   

    
 }
 @media (max-width: 830px) {    
    .sys1tem-notice {      
      div:first-child {
          left:2vw;
      }
      
    }

    
 }

 @media (min-width: 900px) {
    .btnEnviarMensagem {
      margin-right: 2vw;
    }
    .container-form-message {
      textarea {
        width: 95vw;
      }
    }
 }



 .message-no-read {
 	float: right;
 	background-color: red;
 	color: #fff;
 	width: auto;
 	height: 17px;
 	border-radius: 5px;
 	padding: 5px;
 	margin-right: 30px;	
 	position: relative;
 	top: 15px;
 	word-wrap: break-word;
 	span {
 		position: relative;
 		top: -6px;
 		font-size: 1rem;		
 	}
 }

// /*--------------------
// Mixins
// --------------------*/
 @mixin center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 @mixin ball {
   @include center;
   content: '';
   display: block;
   width: 3px;
   height: 3px;
   border-radius: 50%;
   background: rgba(255, 255, 255, .5);
   z-index: 2;
   margin-top: 4px;
   animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
 }


// /*--------------------
// Body
// --------------------*/
// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

// html,
// body {
//   height: 100%;
// }

// b1ody {
//   background: linear-gradient(135deg, #044f48, #2a7561);
//   background-size: cover;
//   font-family: 'Open Sans', sans-serif;
//   font-size: 12px;
//   line-height: 1.3;
//   overflow: hidden;
// }

// .bg {
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   background: url('https://images.unsplash.com/photo-1451186859696-371d9477be93?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') no-repeat 0 0;
//   filter: blur(80px);
//   transform: scale(1.2);
// }


// /*--------------------
// Chat
// --------------------*/



// /*--------------------
// Chat Title
// --------------------*/
 .chat-title {
   flex: 0 1 45px;
   position: fixed;
   top: 0;
   z-index: 2;
   background: rgba(0, 0, 0, 0.2);
   color: #fff;
   text-transform: uppercase;
   text-align: left;
   padding: 10px 10px 10px 50px;
   
   h1, h2 {
     font-weight: normal;
     font-size: 10px;
     margin: 0;
     padding: 0;
   }
  
   h2 {
     color: rgba(255, 255, 255, .5);
     font-size: 8px;
     letter-spacing: 1px;
   }
   a i {
   	color: #fff;
   }
  
  .avatar {
    position: absolute;
    z-index: 1;
     top: 8px;
     left: 9px;
     border-radius: 30px;
     width: 30px;
     height: 30px;
     overflow: hidden;
     margin: 0;
     padding: 0;
     border: 2px solid rgba(255, 255, 255, 0.24);
    
     img {
       width: 100%;
       height: auto;
     }
   }
 }


// /*--------------------
// Messages
// --------------------*/
 .msn {
   flex: 1 1 auto;
   color: rgba(255, 255, 255, .5);
   overflow: hidden;
   position: relative;
   margin: 10px 0;
  
   & .messages-content {
     position: absolute;
     top: 0;
     left: 0;
     height: 101%;    
   }

  
   .message {
     clear: both;
     float: left;
     padding: 6px 10px 7px;
     border-radius: 10px 10px 10px 0;
     background: rgba(0, 0, 0, .3);
     margin: 8px 0;
     font-size: 11px;
     line-height: 1.4;
     margin-left: -9px;
     position: relative;
     text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	}  
  
     .timestamp {
       position: absolute;
       bottom: -15px;
       font-size: 9px;
       color: rgba(255, 255, 255, .3);
     }
    
     &::before {
       content: '';
       position: absolute;
       bottom: -6px;
       border-top: 6px solid rgba(0, 0, 0, .3);
       left: 0;
       border-right: 7px solid transparent;
     }
    
     .avatar {
       position: absolute;
       z-index: 1;
       bottom: -15px;
       left: -35px;
       border-radius: 30px;
       width: 30px;
       height: 30px;
       overflow: hidden;
       margin: 0;
       padding: 0;
       border: 2px solid rgba(255, 255, 255, 0.24);

       img {
         width: 100%;
         height: auto;
       }
    
    
     &.message-personal {
       float: right;
       color: #fff;
       text-align: right;
       background: linear-gradient(120deg, #248A52, #257287);
       border-radius: 10px 10px 0 10px;
      
       &::before {
         left: auto;
         right: 0;
         border-right: none;
         border-left: 5px solid transparent;
         border-top: 4px solid #257287;
         bottom: -4px;
       }
     
    
     &:last-child {
       margin-bottom: 5px;
     }
    
     &.new {
       transform: scale(0);
       transform-origin: 0 0;
       animation: bounce 500ms linear both;
     }
    }

     &.loading {

       &::before {
         @include ball;
         border: none;
         animation-delay: .15s;
       }

       & span {
         display: block;
         font-size: 0;
         width: 20px;
         height: 10px;
         position: relative;

         &::before {
           @include ball;
           margin-left: -7px;
         }

         &::after {
           @include ball;
           margin-left: 7px;
           animation-delay: .3s;
         }
       }
     }
    
   }
 }


// /*--------------------
// Message Box
// --------------------*/
// .message-box {
//   flex: 0 1 40px;
//   width: 100%;
//   background: rgba(0, 0, 0, 0.3);
//   padding: 10px;
//   position: relative;
  
//   & .message-input {
//     background: none;
//     border: none;
//     outline: none!important;
//     resize: none;
//     color: rgba(255, 255, 255, .7);
//     font-size: 11px;
//     height: 17px;
//     margin: 0;
//     padding-right: 20px;
//     width: 265px;
//   }
  
//   textarea:focus:-webkit-placeholder{
//       color: transparent;
//   }
  
//   & .message-submit {
//     position: absolute;
//     z-index: 1;
//     top: 9px;
//     right: 10px;
//     color: #fff;
//     border: none;
//     background: #248A52;
//     font-size: 10px;
//     text-transform: uppercase;
//     line-height: 1;
//     padding: 6px 10px; 
//     border-radius: 10px;
//     outline: none!important;
//     transition: background .2s ease;
    
//     &:hover {
//       background: #1D7745;
//     }
//   }
// }


// /*--------------------
// Custom Srollbar
// --------------------*/
 .mCSB_scrollTools {
   margin: 1px -3px 1px 0;
   opacity: 0;
 }

 .mCSB_inside > .mCSB_container {
   margin-right: 0px;
   padding: 0 10px;
 }

 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
   background-color: rgba(0, 0, 0, 0.5)!important;
 }


// /*--------------------
// Bounce
// --------------------*/
 @keyframes bounce { 
   0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
 }


 @keyframes ball { 
   from {
     transform: translateY(0) scaleY(.8);
   }
   to {
     transform: translateY(-10px);
   }
 }

.btn-toBottom {
  border-radius: 100%;
  background: green;  
  width: 30px;
  position: fixed;
  height: 30px;   
  bottom: 100px;
  right: 10vw;
  background-image: url('iconToBotton.png');
  background-repeat: no-repeat;
  background-size: 30px;
  display: none;
  cursor: pointer;
  z-index: 99;
}
#messages {
    position: relative;
    margin-bottom: 50px;    
    & div:last-child {    
      margin-bottom: 15px;
      position: relative;

    }
  }

@-moz-document url-prefix() {
  #messages {
    position: relative;
    margin-bottom: 50px;    
    & div:last-child {    
      margin-bottom: 80px;
      position: relative;

    }
  }
  .body {
     position: relative;
     top: 60px;    
     -moz-margin-bottom: 100px;    
  }
}

