// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.painel-gerencia {
	position: relative;
	margin: 10% 0;
}

.painel-gerencia div, .painel-gerencia input {
	margin: 20px 0;
}

.painel-gerencia .alert {
	font-size: 3rem;
}


/* Admin */

#painel-admin {
	margin-bottom: 100px;
}

.btnPesquisa,.btnLimpar {
	position: relative;
	top: 5px;

}


 

