// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-bar {
	section  {
		text-align: center;
		padding: 5px 10px;
		border: 1px solid #000;		
	}
}

.users-index {
	position: relative;
	top: 30px;
}

#chat-menu .dropdown-menu {
	position: absolute;
	left: -120px !important;
	
	li {
		a {margin-left: 20px}
	}
}

#login-index {
	position: relative;	
	margin-top: 30% !important;
}

#menu-comercio .row {	
	position: relative;
	top: 100px;
	a {
		color: rgba(255,255,255, 0.9);
	}
}